<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9hNeYLFz3G_yG0j1_Pr94M1DEt8N3cws</string>
	<key>GCM_SENDER_ID</key>
	<string>933440054976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jj.TTTGame</string>
	<key>PROJECT_ID</key>
	<string>tttgame-2edb5</string>
	<key>STORAGE_BUCKET</key>
	<string>tttgame-2edb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933440054976:ios:5b743fb5e702aeb9f6ef25</string>
</dict>
</plist>